arabic-reshaper==2.1.3
astunparse==1.6.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
cycler==0.10.0
decorator==4.4.2
dukpy==0.2.3
esprima==4.0.1
et-xmlfile==1.1.0
freetype-py==2.2.0
future==0.18.2
gevent==21.1.2
gitdb==4.0.7
GitPython==3.1.18
glfw==2.1.0
greenlet==1.1.0
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==4.8.2
javascripthon==0.11
jedi==0.18.0
json-tricks==3.15.5
kiwisolver==1.3.1
macropy3==1.1.0b2
matplotlib==3.0.2
moviepy==1.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numexpr==2.7.3
numpy==1.19.5
opencv-python==4.5.3.56
openpyxl==3.0.7
packaging==21.0
pandas==0.24.0
parso==0.8.2
patsy==0.5.2
Pillow==8.3.1
pingouin==0.2.2
proglog==0.1.9
psutil==5.8.0
PsychoPy==2021.2.0
psychtoolbox==3.0.17.8
pycparser==2.20
pygame==2.0.1
pyglet==1.5.18
pyo==1.0.4
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-gitlab==2.10.0
python-vlc==3.0.12118
PyTrack-NTU==1.1.0
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
questplus==2019.4
requests==2.26.0
requests-toolbelt==0.9.1
scipy==1.2.1
seaborn==0.11.2
six==1.16.0
smmap==4.0.0
sounddevice==0.4.2
SoundFile==0.10.3.post1
SQLAlchemy==1.4.27
statsmodels==0.9.0
tables==3.6.1
tqdm==4.61.2
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.6
websocket-client==1.1.0
wxPython==4.1.1
xarray==0.19.0
xlrd==2.0.1
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
